.land:hover {
  fill: red;
  transform: scale3d(1.0001, 1.0001, 1.0001);
  cursor: pointer;
}

.land {
  transition: all 0.5s ease-in-out;
}

.tools {
  /* border: 0.5px solid; */
  position: absolute;
  top: 30px;
  left: 30px;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.react-transform-component {
  width: 100%;
}

.wrapper {
  border: 0.5px solid;
  padding: 30px;
  justify-content: center;
  display: flex;
  flex: 1;
}
