.land:hover {
  fill: red;
  transform: scale(1.001);
  cursor: pointer;
}

.land {
  transition: all 0.5s ease-in-out;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
